/*
    COLOR PALETTE
    #696969 - DIM GRAY

    FONT STYLES


*/
/* GLOBAL STYLES
__________________________*/

html {
  font-family: "Lexend Exa", sans-serif;
}

body {
  font-size: 18px;
  background-color: #d6d6d6;
}

p {
  font-size: 1.5em;
}

p > a {
  text-decoration: none;
  color: black;
}

.name {
  float: left;
  margin-left: 2.5%;
}

.about {
  float: right;
  margin-right: 2.5%;
}

div {
  clear: both;
}

/* .gal {
  max-width: 1020px;
  margin: 0 auto;
} */

img {
  width: 30%;
  float: left;
  margin: 1.66%;
}

h2 {
  text-align: center;
  margin: 0 auto;
  padding-top: 2.5%;
  color: black;
  font-weight: 100;
}
