/*
    COLOR PALETTE
    #696969 - DIM GRAY

    FONT STYLES


*/
/* GLOBAL STYLES
__________________________*/

body {
  font-family: "Lexend Exa", sans-serif;
  font-size: 18px;
  background-color: #696969;
}

/* HEADER & FOOTER
__________________________*/
